@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "solaiman-lipi", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "solaiman-lipi", sans-serif;
}
@media print {
  .no-print {
    display: none !important;
  }
  #news-print-section * {
    max-width: 100% !important;
    height: auto !important;
  }
  .print\:hidden {
    display: none !important;
  }
}

@layer components {
  html {
    @apply scroll-smooth;
  }
}
@layer base {
  h1 {
    @apply pl-[2px] text-base;
  }
  h2 {
    @apply pl-[2px] text-base;
  }
  h3 {
    @apply pl-[2px] text-base;
  }
  h4 {
    @apply pl-[2px] text-base;
  }
  h5 {
    @apply pl-[2px] text-base;
  }
  h6 {
    @apply pl-[2px] text-base;
  }
  p {
    @apply pl-[2px];
  }
  td {
    @apply text-pTextColor;
  }
}

/* globals.css or any global CSS file */
@font-face {
  font-family: "solaiman-lipi";
  src: url("/SolaimanLipi_22-02-2012.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.ql-editor {
  font-family: "solaiman-lipi", sans-serif;
  font-size: 16px;
}

.ql-align-center {
  text-align: center;
}

.ql-list {
  margin-left: 1.5rem;
  list-style-type: disc;
}

.ql-list.ql-indent-1 {
  margin-left: 2.5rem;
}
